$headerLiFontSize: 30px;
$footerLiFontSize: 20px;
$productDescriptionFSize:20px;
$productDescriptionFSizeSmartphone:15px;
$chevronFontSize:70px;
$barsIconFontSize:40px;
$titleProductSmartphoneFontSize:18px;
